### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*

target/

target/resolution-cache/
target/streams/
target/test-reports/
target/.history

target/scala-2.11/api/
target/scala-2.11/classes/
target/scala-2.11/resource_managed/
target/scala-2.11/src_managed/
target/scala-2.11/test-classes/

target/scala-2.10/api/
target/scala-2.10/classes/
target/scala-2.10/resource_managed/
target/scala-2.10/src_managed/
target/scala-2.10/test-classes/

resources/info/collaboration_station/

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#IntelliJ specific
.idea
*.iml
.settings
.classpath
.project

project/target/
project/target/streams
/.gitignore
